# Source files
src/
test/
docs-src/
dev/

# Config files
tsconfig.json
rollup.config.js
web-dev-server.config.js
web-test-runner.config.js
.eleventy.cjs
.eslintrc.json
.prettierrc.json
.eslintignore
yarn.lock

# Documentation
docs/
CHANGELOG.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
